#Main-Title {
  Font-size: 70px;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 23px;
}

p {
  font-size: 14px;
}

.banner {
  background-image: url('../images/the-flatiron-building.png');
  color: white;
}

body {
  text-align: center;
  font-family: Helvetica;
}
.footer {
  text-align: left;
  background-color: dimgray;
  color: white;
}

a {
  color:white;
  font-size: 18px;
}

#copyright {
  font-size: 11px;
  color: white
}
