#Main-Title {
  Font-size: 70px;
}

.banner {
  background-image: url('../images/the-flatiron-building.png');
  color: white;
}

body {
  text-align: center;
  font-family: Helvetica;
}
.footer {
  text-align: left;
  background-color: dimgray;
  color: white;
}

a {
  color:white;
}

#copyright {
  font-size: 11px;
  color: white
}
